# Editor / OS
.DS_Store
Thumbs.db
*.local
.vscode
profile.prof
*__pycache__/

# Misc
files/
json/
tools/*
todo.md
test-scripts/
tests/fixtures/unpacked/
docs/paz_tree.md
PAZ-Parser/paz_config.json
PAZ-Parser/tests/fixtures/*
!PAZ-Parser/tests/fixtures/.gitkeep
